@model Kundbolaget.Models.EntityModels.Address



    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="width: 49%">

        
        @Html.HiddenFor(m => m.Id)
        <div class="form-group">
            @Html.LabelFor(model => model.Street, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-5">
                @Html.EditorFor(model => model.Street, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => Model.Street, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ZipNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.ZipNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => Model.ZipNumber, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => Model.City, "", new { @class = "text-danger" })
            </div>
        </div>
        
    </div>

