@model Kundbolaget.Models.EntityModels.Order

<table class="table table-striped table-condensed">
  <tr>
    <th colspan="2">Artikel</th>
    <th>Beställt</th>
    <th>I lager</th>
    <th>Pris styck</th>
    <th>Rabatt</th>
    <th>Totalt</th>
  </tr>
  @foreach (var orderRow in Model.OrderRows)
  {
  <tr>
    <td>@orderRow.Product.Id</td>
    <td>@orderRow.Product.Name</td>
    <td>@orderRow.AmountOrdered</td>
    <td>@orderRow.AmountInStock</td>
    <td>@orderRow.Price</td>
    <td>@if (orderRow.Discount > 0)
        {
          <text>@($"{orderRow.Discount*100:0.##}%")</text>
              }
              else
              {
          <text></text>
	      }
    </td>
    <td>@($"{orderRow.DiscountedPrice * orderRow.AmountOrdered:0.00}")</td>
  </tr>
  }
  <tr>
    <td colspan="6" style="text-align: right"><strong>Summa order:</strong></td>
    <td><strong>@($"{Model.Total:0.00}")</strong></td>    
  </tr>
</table>