@model Kundbolaget.Models.EntityModels.Order

<table class="table table-striped table-condensed">
  <tr>
    <th colspan="2">Artikel</th>
    <th>Beställt</th>
    <th>I lager</th>
    <th>Pris styck</th>
    <th>Totalt</th>
  </tr>
  @foreach (var orderRow in Model.OrderRows)
  {
  <tr>
    <td>@orderRow.Product.Id</td>
    <td>@orderRow.Product.Name</td>
    <td>@orderRow.AmountOrdered</td>
    <td>@orderRow.AmountInStock</td>
    <td>@orderRow.Price</td>
    <td>@(orderRow.Price * orderRow.AmountOrdered)</td>
  </tr>
  }
  <tr>
    <td colspan="5" style="text-align: right"><strong>Summa order:</strong></td>
    <td><strong>@Model.Total</strong></td>    
  </tr>
</table>