@model Kundbolaget.Models.EntityModels.Supplier

@{
    ViewBag.Title = "Details";
}

<h2>Detaljer</h2>

<div>
    <h4>Leverantör</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.Country.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.Street),
            @Html.DisplayFor(model => model.Address.ZipNumber),
            @Html.DisplayFor(model => model.Address.City)
        </dd>
        
    </dl>
</div>
<hr />
<p>
    @Html.ActionLink("Tillbaka", "Index", null, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Redigera", "Edit", new {id = Model.Id}, new {@class = "btn btn-primary"})
</p>
