@model Kundbolaget.Models.ViewModels.JsonOrderViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

Antal valideringsfel i JSON: @Model.ValidationErrors.Count
@if (Model.ValidationErrors.Count > 0)
{
  foreach (var error in Model.ValidationErrors)
  {
    @error.Kind
  }
}
<h2>Ny order</h2>

<table class="table">
  <tr>
    <th colspan="2">Artikel</th>
    <th>Antal</th>
    <th>Pris styck</th>
  </tr>
@foreach (var orderRow in Model.Order.OrderRows)
{
  <tr>
    <td>@orderRow.Product.Id</td>
    <td>@orderRow.Product.Name</td>
    <td>@orderRow.AmountOrdered</td>
    <td>@orderRow.Product.Price</td>
  </tr>  
}
</table>

<ul>
  <li><strong>Kund:</strong> @Model.Order.Customer.Name</li>
  <li><strong>Faktureringsadress:</strong> @Model.Order.Customer.InvoiceAddress</li>
  <li><strong>Leveransadress:</strong> @Model.Order.ShippingAddress</li>
  <li><strong>Önskat leveransdatum:</strong> @Model.Order.DesiredDeliveryDate</li>
</ul>

@if (!Model.OrderIsValid)
{
  <p>Fel i ordern: @Model.ErrorMessage</p>
}


@using (Html.BeginForm("PlaceOrder", "OrderValidation"))
{
    @Html.Hidden("order", Model)
    <input type="submit" value="Save" class="btn btn-default" />
}
