@model Kundbolaget.Models.EntityModels.Product

@{
    ViewBag.Title = "Details";
}

<h2>Detaljer</h2>

<div>
    <h4>Produkt</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductCategory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductCategory.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Volume)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Volume)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PackageAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PackageAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AlcoholPercentage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlcoholPercentage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountingCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountingCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VatCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VatCode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Ändra produkt", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Avbryt", "Index", null, new { @class = "btn btn-primary" })
</p>
