@model Kundbolaget.Models.EntityModels.Product

@{
    ViewBag.Title = "Details";
}

<h2>Detaljer</h2>

<div>
    <h4>Produkt</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt> @Html.DisplayNameFor(model => model.Name)</dt>
        <dd>@Html.DisplayFor(model => model.Name)</dd>

        <dt>@Html.DisplayNameFor(model => model.ProductCategory)</dt>
        <dd>@Html.DisplayFor(model => model.ProductCategory.Name)</dd>

        <dt>@Html.DisplayNameFor(model => model.Description)</dt>
        <dd>@Html.DisplayFor(model => model.Description)</dd>

        <dt>Aktuellt pris</dt>
        <dd>@Html.DisplayFor(model => model.Price)</dd>

        <dt>@Html.DisplayNameFor(model => model.Volume)</dt>
        <dd>@Html.DisplayFor(model => model.Volume)</dd>

        <dt>@Html.DisplayNameFor(model => model.PackageAmount)</dt>
        <dd>@Html.DisplayFor(model => model.PackageAmount)</dd>

        <dt>@Html.DisplayNameFor(model => model.AlcoholPercentage)</dt>
        <dd>@Html.DisplayFor(model => model.AlcoholPercentage)</dd>

        <dt>@Html.DisplayNameFor(model => model.AccountingCode)</dt>
        <dd>@Html.DisplayFor(model => model.AccountingCode)</dd>

        <dt>@Html.DisplayNameFor(model => model.VatCode)</dt>
        <dd>@Html.DisplayFor(model => model.VatCode)</dd>
    </dl>

  @Html.ActionLink("Redigera produkt", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })

</div>

<h2>Prislista</h2>

<div>
  <table class="table table-condensed table-striped"style="width: 400px">
    <tr>
      <th>Datum</th>
      <th>Pris</th>
    </tr>
@foreach (var price in Model.PriceList.OrderByDescending(p => p.StartDate))
{
    <tr>
      <td>@price.StartDate.ToString("d")</td>
      <td>@price.Price</td>
    </tr>
}
  </table>

  @Html.ActionLink("Lägg till nytt pris", "AddPrice", new { id = Model.Id }, new { @class = "btn btn-primary" })
</div>

<hr/>
<p>
    @Html.ActionLink("Tillbaka", "Index", null, new { @class = "btn btn-primary" })
</p>
