@model Kundbolaget.Models.EntityModels.Customer

@{
    ViewBag.Title = "Create";
}

<h2>Skapa</h2>

@using (Html.BeginForm(null,null, new {VisitingAddressId = 0, InvoiceAddressId = 0})) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        
        <h4>Kund</h4>
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new {@class = "control-label col-md-1"})
            <div class="col-md-3">
                @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new {@class = "control-label col-md-1"})
            <div class="col-md-3">
                @Html.EditorFor(model => model.Password, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Password, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreditLine, htmlAttributes: new {@class = "control-label col-md-1"})
            <div class="col-md-3">
                @Html.EditorFor(model => model.CreditLine, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.CreditLine, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PaymentTerm, htmlAttributes: new {@class = "control-label col-md-1"})
            <div class="col-md-3">
                @Html.EditorFor(model => model.PaymentTerm, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.PaymentTerm, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AccountingCode, htmlAttributes: new {@class = "control-label col-md-1"})
            <div class="col-md-3">
                @Html.EditorFor(model => model.AccountingCode, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.AccountingCode, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrganizationNumber, htmlAttributes: new {@class = "control-label col-md-1"})
            <div class="col-md-3">
                @Html.EditorFor(model => model.OrganizationNumber, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.OrganizationNumber, "", new {@class = "text-danger"})
            </div>
        </div>
        @Html.Partial("_Contact")
        <div class="form-group">
            <label class="control-label col-md-1">Land</label>
            @Html.Partial("_CountryDropDownList", new ViewDataDictionary() { TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "CountryId" } }))
        </div>
        <div class="form-group">
            @Html.Label("Besöksadress", htmlAttributes: new {@class = "control-label col-md-1", style = "font-size: 20px;"})
            
       )
        </div>
        <div class="form-group">
            @Html.Partial("_Address", new ViewDataDictionary(){TemplateInfo = new TemplateInfo(){ HtmlFieldPrefix = "VisitingAddress",  } }))
        </div>
        <div class="form-group">
            @Html.Label("Faktureringsadress", htmlAttributes: new {@class = "control-label col-md-1", style = "font-size: 20px;"})
          
        </div>

        <div class="form-group">
            @Html.Partial("_Address", new ViewDataDictionary() {TemplateInfo = new TemplateInfo() {HtmlFieldPrefix = "InvoiceAddress"}}))
        </div>
        @Html.Hidden("VisitingAddressId")
        @Html.HiddenFor(m => m.InvoiceAddressId)
        <hr/>
        <div class="form-group col-md-10">
            @Html.ActionLink("Tillbaka", "Index", null, new {@class = "btn btn-primary"}) |
            <input type="submit" value="Skapa" class="btn btn-primary"/>
        </div>
    </div>

    
}

<div>
   
</div>
