@model Kundbolaget.Models.EntityModels.Customer

@{
    ViewBag.Title = "Delete";
}

<h2>Radera</h2>

<h3>Är du säker på att du vill ta bort?</h3>
<div>
    <h4>Kund</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreditLine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreditLine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentTerm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentTerm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountingCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountingCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganizationNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationNumber)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions col-md-10">
            @Html.ActionLink("Tillbaka", "Index", null, new { @class="btn btn-primary"}) |
            <input type="submit" value="Radera" class="btn btn-primary"/>
        </div>
    }
</div>
