@using Kundbolaget.Models.EntityModels
@model Kundbolaget.Models.EntityModels.Customer

@{
    ViewBag.Title = "Details";
}

<h2>Detaljer</h2>

<div>
    <h4>Kund</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreditLine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreditLine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentTerm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentTerm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountingCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountingCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganizationNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VisitingAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VisitingAddress.Street),
            @Html.DisplayFor(model => model.VisitingAddress.ZipNumber),
            @Html.DisplayFor(model => model.VisitingAddress.City),
            @Html.DisplayFor(model => model.VisitingAddress.Country.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InvoiceAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceAddress.Street),
            @Html.DisplayFor(model => model.InvoiceAddress.ZipNumber),
            @Html.DisplayFor(model => model.InvoiceAddress.City),
            @Html.DisplayFor(model => model.InvoiceAddress.Country.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contact.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contact.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contact.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contact.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contact.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contact.Email)
        </dd>
    </dl>
</div>
<hr />
<p>
    @Html.ActionLink("Redigera", "Edit", new { id = Model.Id }, new { @class="btn btn-primary"}) |
    @Html.ActionLink("Tillbaka", "Index", null, new { @class = "btn btn-primary" })
</p>
