@using System.Data.Entity.Core.Mapping
@model IEnumerable<Kundbolaget.Models.EntityModels.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Kundlista</h2>

<p>
    @Html.ActionLink("Lägg till kund", "Create", null, new { @class=" btn btn-primary"})
</p>
<table class="table table-striped">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th style="text-align: center">Licens</th>
        <th></th>
        <th>@Html.DisplayNameFor(model => model.CreditLine)</th>
        <th>@Html.DisplayNameFor(model => model.PaymentTerm)</th>
        <th>@Html.DisplayNameFor(model => model.AccountingCode)</th>
        <th>@Html.DisplayNameFor(model => model.OrganizationNumber)</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Name, "Details", new {id = item.Id})
        </td>

        <td style="text-align: center">
            @if (item.AlcoholLicense == null)
            {
                <span class="glyphicon glyphicon-remove" style="color: red" aria-label="Licens saknas"></span>
            }
            else if (!item.AlcoholLicense.IsValid)
            {
                <span class="glyphicon glyphicon-record" style="color: orange" aria-label="Ogiltig licens"></span>
            }
            else
            {
                <span class="glyphicon glyphicon-ok" style="color: green" aria-label="Giltig licens"></span>
            }

        </td>
        <td>
            @if (item.AlcoholLicense == null)
                {
                @Html.ActionLink("License krävs", "Create", "AlcoholLicense", new { id = item.Id }, new { @class = "btn btn-warning" })
            }
            else if (!item.AlcoholLicense.IsValid)
            {
                @Html.ActionLink("Ogiltig licens", "Edit", "AlcoholLicense", new { id = item.AlcoholLicenseId }, new { @class = "btn btn-warning" })
            }
            else
            {
                @Html.ActionLink("Ändra licens", "Edit", "AlcoholLicense", new { id = item.AlcoholLicenseId }, new { @class = "btn btn-primary" })
            }
        </td>

        <td>@Html.DisplayFor(modelItem => item.CreditLine)</td>
        <td>@Html.DisplayFor(modelItem => item.PaymentTerm) dagar</td>
        <td>@Html.DisplayFor(modelItem => item.AccountingCode)</td>
        <td>@Html.DisplayFor(modelItem => item.OrganizationNumber)</td>
    </tr>
}

</table>
