@model Kundbolaget.Models.ViewModels.ShippingAdressViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.HiddenFor(m => m.Address.Id)
@Html.HiddenFor(m => m.Customer.Id)
<h2>Details</h2>

<div>
    <h4>Address</h4>
    <hr/>
  
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>
    </dl>


    @using (Html.BeginForm("Details", "ShippingAddress", new {customerId = Model.Customer.Id}))
    {
        <div style="display: inline-block; min-width: 20%; padding-bottom: 10px;">
            @Html.DropDownListFor(m => Model.Address.Id, new SelectList(Model.Customer.ShippingAddresses, "Id", "Street"), "Välj adress", new {onchange = @"form-submit();", @class = "form-control"})
        </div>
        <div>
            @Html.Partial("_Address", Model.Address)
        </div>
        
    }

</div>

<p>
   
   
    @Html.ActionLink("Back to List", "Index")
</p>
