@model IList<Kundbolaget.Models.ViewModels.Invoice.InvoicableCustomerViewModel>

@{
    ViewBag.Title = "Ny faktura: välj kund";
}

<h2>Ny faktura: välj kund</h2>

<div class="alert alert-info">Följande kunder har ofakturerade ordrar.</div>

<table class="table table-striped">
  <tr>
    <th>Kundnummer</th>
    <th>Kund</th>
    <th>Ofakturerade ordrar</th>
    <th>Kreditgräns</th>
    <th>Utestående</th>
    <th></th>
  </tr>
@foreach (var row in Model)
{
  <tr>
    <td>@row.Customer.Id</td>
    <td>@row.Customer.Name</td>
    <td>@row.InvoicableOrders.Count()</td>
    <td>@Html.DisplayFor(m => row.Customer.CreditLine)</td>
    <td>@Html.DisplayFor(m => row.OrderTotal)</td>
    <td>
  @if (row.InvoicableOrders.Any())
  {
      <a href="@Url.Action("Create", "Invoice", new {id = row.Customer.Id})" class="btn btn-primary">Fakturera</a>
  }
  else
  {
      <button disabled href="@Url.Action("Create", "Invoice", new {id = row.Customer.Id})" class="btn btn-default">Fakturera</button>

  }
    </td>
  </tr>
}
</table>