@model Kundbolaget.Models.EntityModels.Invoice

@{
    ViewBag.Title = "Details";
}

<h2>Fakturadetaljer</h2>

<ul>
  <li>@Model.Customer.Name</li>
  <li>@Model.InvoiceAddress</li>
  <li>Förfallodatum: @Html.DisplayFor(m => m.DueDate)</li>
</ul>
<br/>
<table class="table table-striped">
  <tr>
    <th>Order-id</th>
    <th>Orderrader</th>
    <th>Summa beställt</th>
      <th>Summa levererat</th>
      <th></th>
  </tr>
@foreach (var order in Model.Orders)
{
    <tr>
      <td>@Html.DisplayFor(m => order.Id)</td>
      <td>@order.OrderRows.Count</td>
      <td>@Html.DisplayFor(m => order.TotalOrdered)</td>
        <td>@Html.DisplayFor(m => order.TotalDelivered)</td>
        <td>@Html.ActionLink("Visa rader", "Details","Order", new {id = order.Id},null)</td>
    </tr>
}


</table>

<p>
    @Html.ActionLink("Tillbaka", "Index",null, new {@class= "btn btn-primary"})
</p>
