@model IEnumerable<Kundbolaget.Models.EntityModels.OrderRow>

@{
    ViewBag.Title = "Details";
}

<h2>Orderdetaljer</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(item => item.Product.Name)
        </th>
        <th>
            @Html.DisplayNameFor(item => item.AmountOrdered)
        </th>
        <th>
            @Html.DisplayNameFor(item => item.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmountOrdered)
        </td>
        <td>
            @{ var price = item.Product.Price*(item.AmountOrdered*item.Product.PackageAmount);}

            @Html.DisplayFor(modelItem => price)
        </td>
        <td>
            @Html.ActionLink("Ändra", "Edit", new { id = item.Id})
        </td>
    </tr>
}

</table>

@Html.ActionLink("Tillbaka", "Index", null, new { @class = "btn btn-primary" })
