@using System.Web.UI.WebControls.Expressions
@model IEnumerable<Kundbolaget.Models.EntityModels.OrderRow>

@{
    ViewBag.Title = "Details";
}

<h2>Orderdetaljer</h2>
<h4>Orderrader</h4>

<table class="table table-striped">
    <tr>
      <th>@Html.DisplayNameFor(item => item.Product.Name)</th>
      <th>@Html.DisplayNameFor(item => item.AmountOrdered)</th>
      <th>@Html.DisplayNameFor(item => item.Price)</th>
      <th>@Html.DisplayNameFor(item => item.Discount)</th>
      <th>@Html.DisplayNameFor(item => item.DiscountedPrice)</th>
      <th>Totalt pris</th>
      <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
      <td>@Html.DisplayFor(modelItem => item.Product.Name)</td>
      <td>@Html.DisplayFor(modelItem => item.AmountOrdered)</td>
      <td>@Html.DisplayFor(modelItem => item.Price)</td>
      <td>@if (item.Discount > 0)
          {
            @($"{item.Discount*100:0.##}%")
          }
          else
          {
            <text>&mdash;</text>
          }
      </td>
      <td>@if (item.Discount > 0)
      {
          @($"{item.DiscountedPrice:0.00}")
      }
      else
      {
          <text>&mdash;</text>
      }
      </td>
      <td>@($"{item.DiscountedPrice*item.AmountOrdered:0.00}")</td>
      <td>
          @Html.ActionLink("Ändra antal", "EditOrderRow", new { id = item.Id})
      </td>
    </tr>
}

</table>
