@model Kundbolaget.Models.EntityModels.Order

@{
    ViewBag.Title = "Details";
}

<h2>Orderdetaljer</h2>
<h4>Orderrader</h4>

<table class="table table-condensed table-striped">
    <tr>
      <th>Namn</th>
      <th>Beställt</th>
      <th>À-pris</th>
      <th>Rabatt</th>
      <th>Rabatterat pris</th>
      <th>Totalt pris</th>
      <th></th>
    </tr>

@foreach (var item in Model.OrderRows) {
    <tr>
      <td>@Html.DisplayFor(modelItem => item.Product.Name)</td>
      <td>@Html.DisplayFor(modelItem => item.AmountOrdered)</td>
      <td>@Html.DisplayFor(modelItem => item.Price)</td>
      <td>@if (item.Discount > 0)
          {
            @($"{item.Discount*100:0.##}%")
          }
          else
          {
            <text>&mdash;</text>
          }
      </td>
      <td>@if (item.Discount > 0)
      {
          @Html.DisplayFor(modelItem => item.DiscountedPrice)
      }
      else
      {
          <text>&mdash;</text>
      }
      </td>
      <td>@Html.DisplayFor(modelItem => item.TotalOrderedPrice)</td>
      <td>
          @Html.ActionLink("Ändra antal", "EditOrderRow", new { id = item.Id})
      </td>
    </tr>
}
    <tr>
      <td colspan="5" style="text-align: right"><strong>Summa order:</strong></td>
      <td colspan="2"><strong>@Html.DisplayFor(m => m.TotalOrdered)</strong></td>
    </tr>

</table>
