@model IEnumerable<Kundbolaget.Models.EntityModels.Customer>

@{
    ViewBag.Title = "IndexCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kunder</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrganizationNumber)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Contact.Name)
        </th>
        <th> @Html.DisplayNameFor(model => model.InvoiceAddress)</th>
        <th>
            @Html.DisplayNameFor(model => model.CreditLine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentTerm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountingCode)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrganizationNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contact.Name)
        </td>
        <td>@Html.DisplayFor(modelItem => item.InvoiceAddress.Street) @Html.DisplayFor(modelItem => item.InvoiceAddress.City) @Html.DisplayFor(modelItem => item.InvoiceAddress.ZipNumber)</td>
       
        <td>
            @Html.DisplayFor(modelItem => item.CreditLine)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentTerm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountingCode)
        </td>
       
        <td>
            @Html.ActionLink("Skapa ny order", "CreateOrderManually", new { id=item.Id }, new {@class = "btn btn-primary"}) |
          
        </td>
    </tr>
}

</table>
