@model IEnumerable<Kundbolaget.Models.EntityModels.Order>

@{
    ViewBag.Title = "PickedOrders";
}

<h2>Ordrar</h2>
<h4>Färdiga ordrar</h4>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerOrderRef)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShippingAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderPlaced)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DesiredDeliveryDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerOrderRef)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShippingAddress.Street),
            @Html.DisplayFor(modelItem => item.ShippingAddress.ZipNumber),
            @Html.DisplayFor(modelItem => item.ShippingAddress.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderPlaced)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DesiredDeliveryDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderStatus)
        </td>
        <td>
            @Html.ActionLink("Fraktsedel", "ShippingDoc", new { id=item.Id })
        </td>
    </tr>
}

</table>
