@model IEnumerable<Kundbolaget.Models.EntityModels.OrderRow>

@{
    ViewBag.Title = "ViewOrderRows";
}

<h2>Order</h2>
<h4>Order rader</h4>


<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountOrdered)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discount)
        </th>
        
        
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountOrdered)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Tillbaka", "ReceivedOrders",null, new { @class="btn btn-primary"})
</div>
