@model Kundbolaget.Models.EntityModels.Warehouse

@{
    ViewBag.Title = "Details";
}

<h2>Detaljer</h2>

<div>
    <h4>Lagerlokal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @*@Html.Partial("_Address", Model.Address)*@
            @Html.DisplayFor(model => model.Address.Street),
            @Html.DisplayFor(model => model.Address.ZipNumber),
            @Html.DisplayFor(model => model.Address.City)

        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address.Country)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.Country.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContactId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactId)
        </dd>
    </dl>
</div>
<h4>Hyllor</h4>
<table class="table">
    <tr>
        <th>
            Namn
        </th>
    </tr>
    @foreach (var item in Model.Shelfs)
    {
        <tr>
            <td>
                @Html.DisplayName(item.Name)
            </td>
        </tr>
    }
</table>
<hr/>
<p>
    @Html.ActionLink("Tillbaka", "Index", null, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Redigera", "Edit", new {id = Model.Id}, new {@class = "btn btn-primary"})
</p>
